node_modules/
work/
*.nes
*.sfc
*.smc
*.gb
*.gbc
*.gba
*.nds
*.n64
*.z64
*.v64
*.chd
*.cue
*.bin
*.pbp
*.img
*.iso
*.md.rom
*.gen
*.smd
*.sgd
*.sms
*.gg
*.a26
*.a78
*.j64
*.jag
*.32x
*.vb
*.vboy
*.pce
*.ngp
*.ngc
*.ws
*.wsc
*.pc2
*.state
*.srm
*.sav
*.free-retro.json
verification/*.png
verification/*.jpg
